@import '../scss/reset';
@import '../scss/burger';

@mixin Main_title {
    color: #3D3D3D;
    font-size: 14px;
    font-family: Overpass;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.224px;
}

@mixin Shadow_cart {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.25);
}

@mixin Main_text {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.168px;
}

body {
    font-family: Overpass;
    font-style: normal;
    line-height: normal;
}

.altern {
    text-align: center;
    margin-top: 32px;
}

.container {
    padding: 0 10px;
}

// overflow-y: hidden;
// transition: .6s cubic-bezier(0.5, 1, 0.89, 1);

// border-radius: 3px;
// background: var(--linrstd, linear-gradient(180deg, #FF9211 0%, rgba(255, 153, 7, 0.54) 77.08%, rgba(255, 155, 4, 0.40) 100%));

header {
    position: fixed;
    height: 75px;
    width: 100%;
    display: grid;
    grid-template-columns: 75px 75px 1fr 150px;
    box-sizing: content-box;
    border-bottom: 1px solid rgba(245, 245, 243, 1);
    transition: .5s cubic-bezier(0.5, 1, 0.89, 1);
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 10;
    backdrop-filter: blur(20px);
    top: 0;
    box-sizing: border-box;

    &.active {
        grid-template-columns: 0 100% 0 0;

        .search {
            padding-left: 20px;
            display: block;
            width: 100%;
            // transition: 400ms;
        }

        .logo {
            display: none;
        }

        .wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.logo {
    display: grid;
    justify-content: center;
    align-content: center;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
}

.navigation {
    display: flex;
    position: absolute;
    top: 75px;
    width: 100%;

    align-items: center;
    justify-content: center;
    background: #fff;
    height: calc(100vh - 75px);
    transform: translateX(-101%);
    transition: .5s cubic-bezier(0.5, 1, 0.89, 1);

    &.active {
        transform: translateX(0%);
    }
}

.header_container {
    display: inline-grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 40px);
    justify-items: center;
    align-items: center;
    row-gap: 24px;

    * {
        display: block;
        text-align: center;
        width: inherit;
        height: 100%;
    }
}

.header_links {}

.header_link {
    font-size: 18px;
    color: black;
}

.header_login {}

.search {
    background: transparent;
    width: 0;
}

.main_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_search {
    height: 100%;
    width: 75px;
    background: url(../public/img/search.svg) center no-repeat;
}

.wrap_variabels {}

.header_functional {
    display: flex;
    .header_icon {
        height: 100%;
        width: 75px;

        background: url(../public/img/shopping-cart.svg) center no-repeat;
    }

    .favorite {
        height: 100%;
        background: url(../public/img/sr-hearth.svg) center no-repeat;
    }
}

.basket {
    position: relative;

    .notify {
        position: absolute;
        top: 50%;
        right: 50%;
        background: orange;
        width: 14px;
        height: 14px;
        border-radius: 10px;
        text-align: center;
        font-size: 12px;
        color: #fff;

        &.none {
            display: none;
        }
    }
}

// Фильтр
.filter {
    display: flex;
    column-gap: 12px;
    margin: 20px;
    padding-top: 75px;
}

.filter_item {
    color: #000000;
    border-radius: 15px;
    padding: 7px 18px;
    transition: .3s linear;
    @include Main_text;

    &.active {
        background: var(--linrstd, linear-gradient(180deg, #FF9211 0%, rgba(255, 153, 7, 0.54) 77.08%, rgba(255, 155, 4, 0.40) 100%));
        border-radius: 15px;
        color: #fff;
    }
}

////// Фильтр /////


.card_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-bottom: 20px;

    // transition: all .4s linear;
    // &:hover{
    //     box-shadow: 4px 4px 16px #000;
    //     grid-template-columns: 100px 130px;
    // }
}

.card_item {
    padding: 7px 5px;
    @include Shadow_cart;
}

.card_img {
    background: #fff url(../public/img/pizza.png) center no-repeat;
    width: 100%;
    height: 154px;
}

.card_title {
    @include Main_title;
    margin: 0;
    margin-top: 32px;
    margin-bottom: 4px;
}

.price {
    color: #7D7D7D;
    font-size: 12px;
    font-weight: 300;
    display: inline-block;
    margin-bottom: 10px;

    &::after {
        content: ' ₽';
    }
}

.add_basket {
    display: flex;
    align-items: center;
    border-radius: 3px;
    justify-content: center;
    height: 25px;
    flex: 1 1 0;
    background: transparent;
    color: orange;
    border: 1px solid orange;
    transition: .3s linear;

    @include Main_text;

    &.active {
        background: var(--linrstd, linear-gradient(180deg, #FF9211 0%, rgba(255, 153, 7, 0.54) 77.08%, rgba(255, 155, 4, 0.40) 100%));
        border: 1px solid transition;
        padding-left: 32px;
        color: #fff;
        position: relative;

        &::after {
            content: url('../public/img/btnCart.svg');
            position: absolute;
            left: 27px;
            top: 3px;
        }
    }
}


// Корзина 

.bsket_items {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-top: 100px;
}

.basket_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include Shadow_cart;
    .pizza {
        padding: 15px 10px;
    }
}

.basket_title {
    @include Main_title;
    margin-bottom: 6px;
}

.basket_left {
    padding-right: 16px;
}

.all_price {
    text-align: center;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 36px;
}

.payment {
    color: #FFF;
    border-radius: 4px;
    background: var(--linrstd, linear-gradient(180deg, #FF9211 0%, rgba(255, 153, 7, 0.54) 77.08%, rgba(255, 155, 4, 0.40) 100%));
    width: 100%;
    outline: none;
    border: none;
    height: 57px;
}

.counters_block {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.btQ {
    border: none;
    border-radius: 10px;
    width: 27px;
    height: 27px;
    background: #f2f2f2;
}

.quantity {
    padding: 0 10px;
}

.delete {
    margin-left: 42px;
}

//////// Корзина //////// 


.list_items {
    display: flex;
    transform: translateX(100%);
    top: 75px;
    transition: .3s cubic-bezier(0.5, 1, 0.89, 1);
    height: calc(100vh - 75px);
    width: 100%;
    background: #fff;
    position: absolute;
    flex-direction: column;
    // align-items: center;
    padding: 0 10px;
    row-gap: 16px;

    &.active {
        transform: translateX(0);
    }
}

.list_item {
    // display: flex;
    // justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    border-radius: 7px;
    background: #FFF;
    box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.25);

    .pizza {
        padding: 6px;
        width: 100px;
        height: auto;

    }

    .add_basket{
        height: 40px;
        margin-right: 16px;
    }

    .card_title{
        margin-top: 12px;
    }
}

.list_block {
    // margin-left: 32px;
}